@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FreightSans";
  src: url(/FreightSansLight.woff) 
      format("woff"),
    url(/FreightSansLight.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}


.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "FreightSans", Helvetica, sans-serif;
  letter-spacing: 1px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
}
.main .icon {
  width: 400px;
  opacity: 0.05;
  position:absolute;
    z-index:0;
    top: -90px;
}
.main h3 {
  font-size: 50px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 0px 0 0px;
  letter-spacing: 15px;
  padding-top: 50px;
}
.main h4 {
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  color: #5e77a9;
  letter-spacing: 5px;
  padding-bottom: 40px;
}

.main form {
  display: flex;
  flex-direction: column;
  position:absolute;
  bottom: 20px;
  width: 1200px;
  font-family: "FreightSans", Helvetica, sans-serif;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #7C96C4;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #7C96C4;
}

.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #A7BBDF;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 3px;
}

.main .result {
  color: #4d5667;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 4px;
  width: 900px;
  letter-spacing: 1px;
  font-family: "FreightSans", Helvetica, sans-serif;
}

.main .data1 {
  color: #4d5667;
  font-weight: normal;
  font-family: "FreightSans", Helvetica, sans-serif;
  text-align: center;
  width: 500px;
  position: fixed;
  left: 200px;
  top: 250px;

}

.main .data2 {
  color: #4d5667;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: "FreightSans", Helvetica, sans-serif;


}

.main fieldset {
  margin: 3px;
  border: 1px solid silver;
  padding: 8px;    
  border-radius: 4px;
}

.main legend {
  padding: 2px;
  letter-spacing: 2px; 
}


