@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FreightSans";
  src: url(/FreightSansLight.woff) 
      format("woff"),
    url(/FreightSansLight.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "FreightSans", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.main .icon {
  width: 100px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 0px 0 0px;
}
.main h4 {
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  color: #5e77a9;
  margin: 0px 0 0px;
}

.main form {
  display: flex;
  flex-direction: column;
  width: 900px;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #7C96C4;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #7C96C4;
}

.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #A7BBDF;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.main .result {
  color: #4d5667;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 800px;
  text-align: center;
}
