@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FreightSans";
  src: url(/FreightSansLight.woff) 
      format("woff"),
    url(/FreightSansLight.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}




.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "FreightSans", Helvetica, sans-serif;
  letter-spacing: 1px;
  
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
  width: 100%;
}
.main .icon {
  width: 400px;
  opacity: 0.05;
  position:absolute;
    z-index:0;
    top: -90px;
}
.main h3 {
  font-size: 30px;
  text-align: center;
  width: 100%;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 0px 0 0px;
  letter-spacing: 15px;
  padding-top: 50px;
}
.main h4 {
  font-size: 16px;
  line-height: 40px;
  font-weight: normal;
  color: #5e77a9;
  letter-spacing: 5px;
  padding-bottom: 40px;
  text-align: center;
}

.main form {
  display: flex;
  flex-direction: column;
  position:absolute;
  bottom: 20px;
  width: 90%;
  font-family: "FreightSans", Helvetica, sans-serif;
}

.main form devconsole {
  display: flex;
  flex-direction: column;
  position:absolute;
  bottom: -200px;
  width: 800px;
  font-family: "FreightSans", Helvetica, sans-serif;
}


.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #7C96C4;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #7C96C4;
  font-family: 'FreightSans', sans-serif;
}

.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 15px 0;
  color: #fff;
  background-color: #A7BBDF;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 3px;
}

.main input[type="saveButton"] {
  padding: 5px 0;
  color: #fff;
  background-color: #cdd8ec;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 3px;
}

.main .result {
  color: #4d5667;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 4px;
  width: 100%;
  letter-spacing: 1px;
  font-family: "FreightSans", Helvetica, sans-serif;
}

.main .data {
  margin-top: 10px;
  color: #4d5667;
  font-weight: normal;
  font-family: "FreightSans", Helvetica, sans-serif;
  width: 80%;
}


.main fieldset {
  margin: 3px;
  border: 1px solid silver;
  padding: 8px;    
  border-radius: 4px;
  width: 80%;
}

.data fieldset {
  border: 1px solid #5c677b;   
  border-radius: 4px;
  width: 15%;
  text-align: center;
  padding: 5px;
  background-color: #cdd8ec;
}



.data legend {
  letter-spacing: 2px;
  text-align: center;
}

.main legend {
  padding: 0px;
  letter-spacing: 2px; 
}

.main .FixedHeightContainer
{
  float:right;
  width:25px; 
  padding:3px; 
    background:#f00;
}
.main .Content
{
  height:250px;
   overflow:auto;
    background:#fff;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}





